<footer class="mastfoot mt-auto">
  <!--<div class="inner footer-copyright">Developed by: <a href="https://www.instagram.com/johnni1e/">Ivan Tyshkivskyi</a>
  </div>-->
</footer>
<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- Custom js file -->
<script src="/js/pagination.js"></script>
</body>
</html>
